/* Search bar style */

.search-section {
    background: #f9f9f9;
    padding: 3rem 1rem;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    margin: 1rem auto 0;
    gap: 0.5rem;
}

.search-input {
    flex: 1;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px 0 0 8px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.search-btn {
    padding: 0.75rem 1rem;
    background: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 0 8px 8px 0;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.search-btn:hover {
    background: #2563eb;
}